<ion-tabs>
    <ion-router-outlet></ion-router-outlet>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="star-outline"></ion-icon>
            首页
        </ion-tab-button>
        <ion-tab-button tab="restaurant">
            <ion-icon name="restaurant-outline"></ion-icon>
            中餐
        </ion-tab-button>
        <ion-tab-button tab="fastfood">
            <ion-icon name="fast-food-outline"></ion-icon>
            西餐
        </ion-tab-button>
        <ion-tab-button tab="milkytea">
            <ion-icon name="beer-outline"></ion-icon>
            奶茶饮品
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>