<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>商品详情页</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-button color="light">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
            <ion-title>商品详情页</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-slideshow>
                    <img src="./assets/img/扬州炒饭.jpg" />
                    <img src="./assets/img/螺蛳粉.jpg" />
                    <img src="./assets/img/土豆丝.jpg" />
                </app-slideshow>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="showProduct">
        <ion-row>
            <ion-col class="title">
                <ion-label><b>{{showProduct.name}}</b></ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="price">
                <ion-label>￥{{showProduct.price}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col class="timu" size="2">已选</ion-col>
            <ion-col>{{change}}件</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="timu" size="2">数量</ion-col>
            <ion-button color="light" size="small" (onclick)="setChange('remove')">
                <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
            <ion-col size="2" class="number">{{change}}</ion-col>
            <ion-button color="light" size="small" (onclick)="setChange('add')">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-row>
        <ion-row>
            <ion-col class="timu" size="2">送至</ion-col>
            <ion-col>学生公寓1栋</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="timu" size="2">运费</ion-col>
            <ion-col size="8">2元，货到付款支付4元，在线支付运费2元</ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="timu" size="2">服务</ion-col>
            <ion-col>骑手团提供配送服务</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer [translucent]="true">
    <ion-toolbar>
        <ion-button color="light" size="small">
            <div>
                <ion-icon name="heart-outline"></ion-icon>
            </div>
            <div>关注</div>
        </ion-button>
        <ion-button color="light" size="small">
            <ion-icon name="cart-outline"></ion-icon>
            购物车
        </ion-button>
        <ion-button color="clear" class="gouwuche">
            加入购物车
        </ion-button>
        <ion-button color="clear" class="goumai">
            立即购买
        </ion-button>
    </ion-toolbar>
</ion-footer>