.title {
    font-size: 19px;
}

.price {
    color: red;
    font-size: 22px;
    font-weight: 800;
}

.number {
    text-align: center;
}

.timu {
    color: darkgray;
}

.gouwuche {
    background-color: rgb(208, 208, 65);
}

.goumai {
    background-color: rgb(201, 3, 3);
}