.slide {
    height: 240px;
    width: 100%;
}

ion-icon {
    color: rgb(95, 86, 86);
}

.button {
    position: absolute;
    top: 50%;
}

//左按钮
.button1 {
    left: 0;
}

//右按钮
.button2 {
    right: 0;
}

.imgs{
    height: 100%;
    position: relative;
}

//items轮播图所有图片，item具体到某一图片
::ng-deep .slideitem  {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:contain;
}

//某一图片展示，他的作用就是把 显示的 css 应用到图片上去
::ng-deep .show  {
    display: block !important; //使他是最高优先级
}