<ion-header [translucent]="true">
    <ion-header>
        <ion-toolbar>
            <ion-searchbar placeholder="请输入搜索内容"></ion-searchbar>
        </ion-toolbar>
    </ion-header>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">home</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row>
            <ion-title>精品推荐</ion-title>
        </ion-row>
        <ion-row>
            <ion-col>

            </ion-col>
            <ion-col>

            </ion-col>
            <ion-col>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>

            </ion-col>
            <ion-col>

            </ion-col>
            <ion-col>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>